app-unlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 48px 32px;
  overflow: auto;
  > * {
    max-width: 400px;
  }
  > h1 {
    font-weight: 800;
    margin-bottom: 32px;
  }
  > app-button {
    width: 100%;
    margin: 24px 0;
  }
  > button.fingerprint {
    fill: var(--foreground);
    width: 48px;
    height: 48px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transition: opacity 100ms;
    &:hover {
      opacity: 1;
    }
  }
}
