:root {
  --background: #fff;
  --foreground: #000;
  --primary: #08f;
  --primary-foreground: #fff;
  --error: #f22;
  font-family: "Open Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
  @media (prefers-color-scheme: dark) {
    --background: #000;
    --foreground: #fff;
  }
  &[color-scheme="dark"] {
    --background: #000;
    --foreground: #fff;
    color-scheme: dark;
  }
  &[color-scheme="light"] {
    --background: #fff;
    --foreground: #000;
    color-scheme: light;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
  background: none;
  border: none;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  line-height: 1;
  margin: 0;
  min-width: 0;
  padding: 0;
  scrollbar-width: none;
  &:focus {
    outline: 2px solid var(--primary);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  height: 100dvh;
  margin: 0 auto;
  max-width: 640px;
  overflow: hidden;
  overscroll-behavior: contain;
  padding-bottom: var(--keyboard-height, 0);
  transition: padding 100ms;
}

ul {
  margin: 0 0 0 16px;
}

p {
  line-height: 1.25;
  margin: 8px 0;
}

label[for],
input[type="checkbox"],
input[type="radio"],
button {
  user-select: none;
  &:not(:disabled) {
    cursor: pointer;
  }
}

[input-mode="touch"] {
  user-select: none;
}

[input-mode="touch"],
[input-mode="mouse"] {
  a,
  input[type="checkbox"],
  input[type="radio"],
  button {
    outline: none !important;
  }
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}
