app-upsert-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background);
  display: flex;
  flex-direction: column;
  app-modal-header .trash {
    display: none;
  }
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    grid-gap: 4px;
    padding: 8px 16px;
    overflow: auto;
    > div {
      display: flex;
      grid-gap: 16px;
      > * {
        flex: 1;
      }
    }
  }
  .counter,
  .period {
    display: none;
  }
  &[type="TOTP"] .period {
    display: block;
  }
  &[type="HOTP"] .counter {
    display: block;
  }
}

app-upsert-modal.deletable {
  app-modal-header .trash {
    display: block;
  }
}
