app-drawer-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(8px);
  }
  > main {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: calc(100% - 32px);
    background: var(--background);
    box-shadow: 0 0 32px #0004;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    display: flex;
    flex-direction: column;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      border-radius: inherit;
      opacity: 0.1;
    }
    > * {
      position: relative;
    }
    > .header {
      flex-shrink: 0;
      text-align: center;
      &:not(:empty) {
        padding: 24px 0 16px;
      }
    }
    > .content {
      flex: 1;
      overflow: auto;
    }
  }
}

app-drawer-modal.opening {
  animation: blur-in 200ms;
  > main {
    animation: slide-in 200ms;
  }
}

app-drawer-modal.closing {
  animation: blur-out 200ms forwards;
  > main {
    animation: slide-out 200ms forwards;
  }
}

@keyframes blur-in {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(8px);
  }
}

@keyframes blur-out {
  from {
    backdrop-filter: blur(8px);
  }
  to {
    backdrop-filter: blur(0px);
  }
}

@keyframes slide-in {
  from {
    border-radius: 0;
    transform: translateY(100%);
  }
}

@keyframes slide-out {
  to {
    transform: translateY(100%);
  }
}
