app-modal-header {
  height: 64px;
  padding: 12px;
  display: flex;
  align-items: center;
  grid-gap: 8px;
  h2 {
    flex: 1;
  }
  > div {
    display: flex;
    align-items: center;
    grid-gap: 8px;
  }
  button {
    fill: var(--foreground);
    display: flex;
    width: 40px;
    height: 40px;
    box-sizing: content-box;
    padding: 4px;
    margin: -4px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    &:disabled {
      opacity: 0.5;
    }
  }
}
