app-setup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 32px;
  overflow: auto;
  > * {
    max-width: 400px;
  }
  > h1 {
    font-weight: 800;
  }
  > p {
    line-height: 1.3;
    text-align: center;
    margin: 32px 0;
  }
  > app-button {
    width: 100%;
    margin-top: 24px;
  }
}
