app-main-content {
  display: block;
  flex: 1;
  overflow: auto;
  .count {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin: 8px 0 16px;
  }
  .splash {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg {
      fill: var(--foreground);
      opacity: 0.25;
    }
    p {
      text-align: center;
      margin: 16px 0 32px;
    }
    app-button {
      margin: 0 0 128px;
    }
  }
}
