app-export-to-qr-code-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background);
  display: flex;
  flex-direction: column;
  > .header {
    padding: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  > main {
    flex: 1;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    > .card {
      scroll-snap-align: center;
      scroll-snap-stop: always;
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      padding: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      > .img {
        display: block;
        background: #fff;
        border-radius: 16px;
        padding: 16px;
        width: 100%;
        max-height: min(100%, 432px);
        max-width: min(100%, 432px);
        &:empty {
          padding: 0 16px min(100%, 432px);
        }
        > svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  > .footer {
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    > .index {
      font-size: 16px;
      font-weight: 500;
    }
    > button {
      fill: var(--foreground);
      width: 40px;
      height: 40px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:disabled {
        opacity: 0;
      }
    }
  }
}
